<html>
<head>
    <title>Учет рабочего времени</title>
    <script>
        var links = {
            report: '{{ path('w_clock_report') }}',
            state: '{{ path('w_clock_state') }}',
            action: '{{ path('w_clock_action') }}',
            edit: '{{ path('w_clock_edit') }}',
            info: '{{ path('w_clock_info') }}',
            stat: '{{ path('w_clock_stat') }}'
        }
    </script>
    {% stylesheets '@WClockBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% javascripts '@WClockBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>

<nav>
    <ul>
        <li><a href="{{ path('w_clock_homepage') }}">Главная</a></li>
        <li><a href="{{ path('w_clock_report') }}">Отчет</a></li>
        <li><a href="{{ path('w_clock_logout') }}">Выход, {{ app.user.username }}</a></li>
        <div class="now"> Сейчас {{ date|date("H:i d.m.Y") }}</div>
    </ul>
</nav>

<div class="container">

    <div class="contain-center text-center">
        <h2>
            {% block title %}{% endblock %}
        </h2>
    </div>
    {% block content %}{% endblock %}
</div>

</body>
</html>