

<html>
<head>
    <title>Учет рабочего времени</title>
    {% javascripts '@WClockBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% stylesheets '@WClockBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <script>
        var links = {
            report:  '{{ path('w_clock_report') }}',
            state:   '{{ path('w_clock_state') }}',
            action:  '{{ path('w_clock_action') }}',
            info:    '{{ path('w_clock_info') }}'
        }
    </script>
</head>
<body>

<nav>
    <ul>
        <li><a href="{{ path('w_clock_homepage') }}">Главная</a></li>
        <li><a href="{{ path('w_clock_report') }}">Отчет</a></li>
        <li><a href="{{ path('w_clock_logout') }}">Выход, {{ app.user.username }}</a></li>
        <div class="now"> Сейчас {{ date|date("H:i d.m.Y") }}</div>
    </ul>
</nav>

<div class="container">

    <div><h2>
        {% block title %}{% endblock %}
    </h2></div>


    {% block content %}{% endblock %}
</div>

</body>
</html>