<p>Список событий за {{ date }}</p>

время работы: {{ time|date("%H:%I") }}

<ul>
    {% for event in result %}
        <li class="event-field" data-time="{{ event.time|date("H:i") }}" data-id="{{ event.id }}">
            <b>{{ event.time|date("H:i") }}</b> - {{ event.type }}</li>
    {% endfor %}
</ul>