{% extends 'WClockBundle::layout.html.twig' %}

{% block title %}Отчет{% endblock %}

{% block content %}
    <input id="url" type="hidden" value="{{ path('w_clock_report') }}">
    <div id="dialog"></div>
    {% if edit %}
        {% include 'WClockBundle:Report:edit.html.twig' %}
    {% endif %}
    <div class="contain-report">
        <div id="dateForm">
            {#{ form(dateForm) }#}
            {% include 'WClockBundle:Report:datepicker.html.twig'%}
        </div>

        {# <p>Дата: <input type="text" id="datepicker"><input id="change_date" type="button" value="Перейти"></p> #}
        <table id="report">
            <th>
                {% for data in header %}
            <td>{{ data[0] }} <p class="title-month">{{ data[1] }}</p></td>
            {% endfor %}
            </th>
            {% for row in table %}
                <tr>
                    <td><b>{{ row.user }}</b></td>
                    {% for data in row.row %}
                        <td data-user="{{ data.user }}" data-day="{{ data.day }}"
                            class="{{ data.class }} cell">{{ data.data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

