{% extends 'WClockBundle::layout.html.twig' %}

{% block title %}Отчет{% endblock %}

{% block content %}

<div>
    <ul>
        {% for event in events %}
            <li><b>{{ event.id }}</b> - {{ event.userId }}: {{ event.type }}({{ event.date|date("m/d/Y") }} - {{ event.time|date("H:i:s") }})</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

