{% extends 'WClockBundle::layout.html.twig' %}

{% block title %}Отчет{% endblock %}

{% block content %}
    <input id="url" type="hidden" value="{{ path('w_clock_report') }}">
    <div id="dialog"></div>
    <p>Дата: <input type="text" id="datepicker"><input id="change_date" type="button" value="Перейти"></p>
    <div>
        <table id="report">
            <th> {{ startDate }}
                {% for data in header %}
            <td>{{ data }}</td>
            {% endfor %}
            </th>
            {% for row in table %}
                <tr>
                    <td><b>{{ row.user }}</b></td>
                    {% for data in row.row %}
                        <td data-user="{{ data.user }}" data-day="{{ data.day }}" class="{{ data.class }} cell">{{ data.data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

